{% extends "main/detail.html" %}
{% load static %}
{% block title %}
    Research -
{% endblock title %}
{% block detail_title %}
    Research
{% endblock detail_title %}
{% block detail_subtitle %}
    a description of research projects from my time in academia
{% endblock detail_subtitle %}
{% block detail_content %}
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>crispee</div>
                <div class="sep"></div>
                <div class="right">tangible gene editing platform for early childhood</div>
            </div>
        </div>
        <div class="mt-2 text-xs text-accent">
            Wellesley College Human-Computer Interaction Lab · PIs: Dr. Orit Shaer (Wellesley College) & Dr. Marina Umashi-Bers (Tufts University)
        </div>
        <div class="mt-4 space-y-2 text-sm text-body2">
            <p>
                CRISPEE is the result of an NSF-funded project from the Human-Computer Lab at Wellesley College, in collaboration with the
                Developmental Technology Research Group at Tufts University.
                <a href="https://dl.acm.org/doi/pdf/10.1145/3173225.3173277"
                   rel="noreferrer"
                   class="subtle">This paper</a>
                goes into more detail about the design process and technical implementation of CRISPEE.
            </p>
            <p>
                Through playful interaction with CRISPEE, along with a curriculum in an informal learning environment, young children are
                introduced to the basics of problem-solving with genetic engineering. The form of CRISPEE combines the shape and function
                of existing laboratory equipment with materials commonly found in children's toys, such as wood, felt, and Velcro.
            </p>
            <p>
                CRISPEE was intentionally designed to be simple and inexpensive to manufacture, to make it accessible to all children.
                It runs off an Arduino Uno and features arcade buttons, conductive velcro, NeoPixels, and pressure sensors. It was
                manufactured using a laser cutter with materials easily found at a hardware store.
            </p>
            <p>
                CRISPEE underwent three iterations and was developed through collaboration with teachers and other early childhood
                educators, with multiple rounds of testing in multi-day bioengineering camps and an exhibit at the Boston Children's Museum.
                It has been featured in numerous peer-reviewed journals and presented at conferences.
            </p>
        </div>
    </div>
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>bactomars</div>
                <div class="sep"></div>
                <div class="right">creative engagement with bio-design for kids</div>
            </div>
        </div>
        <div class="mt-2 text-xs text-accent">
            Wellesley College Human-Computer Interaction Lab · PIs: Dr. Orit Shaer (Wellesley College) & Dr. Marina Umashi-Bers (Tufts University)
        </div>
        <div class="mt-4 space-y-2 text-sm text-body2">
            <p>
                BacToMars is the result of an NSF-funded project from the Human-Computer Lab at Wellesley College, in collaboration with the
                Developmental Technology Research Group at Tufts University.
            </p>
            <p>
                BacToMars is a computer game based off of BacPack for New Frontiers, a large multi-touch museum exhibit. In the game,
                players help a team of astronauts survive on and escape from Mars by bioengineering bacteria that can use resources on
                Mars (e.g. soil, poop, carbon dioxide) to create essential products (e.g. water, oxygen, biomatter). The game features
                scaffolding to assist players in learning the interface and the game mechanics, and can be played as single-player or
                multi-player.
            </p>
            <p>
                Curricular elements were developed to further enhance learning, including short educational videos and minigames.
            </p>
            <p>
                BacToMars went through multiple rounds of testing with children, and has been published in numerous peer-reviewed
                journals and presented at conferences.
            </p>
        </div>
    </div>
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>pghci</div>
                <div class="sep"></div>
                <div class="right">personal genomics for human-computer interaction</div>
            </div>
        </div>
        <div class="mt-2 text-xs text-accent">
            Wellesley College Human-Computer Interaction Lab · PIs: Dr. Orit Shaer (Wellesley College) & Dr. Marina Umashi-Bers (Tufts University)
        </div>
        <div class="mt-4 space-y-2 text-sm text-body2">
            <p>
                Personal Genomics for Human-Computer Interaction (PGHCI) is an NSF-funded project, paired with the Human Genome Project,
                that seeks to facilitate non-expert users to interact with their genetic data, and compare that data with others.
            </p>
            <p>
                The explosion of personal genetic testing from companies such as 23andMe has led more people than ever to have access
                to their genetic data, but for non-experts, making meaning of this data can be challenging. PGHCI provides interactive
                visualization tools to filter, sort, and compare data with family members or friends.
            </p>
            <p>
                These tools were developed over multiple rounds of iterative testing with hundreds of users on Mechanical Turk.
                By analyzing user metrics data and comprehension of the genetic data, we were able to improve the visualizations to
                make them even more accessible to non-experts. The visualizations have since been published on Open Humans, a citizen
                science website.
            </p>
        </div>
    </div>
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>astrochemistry</div>
                <div class="sep"></div>
                <div class="right">radiolosys of organic molecules in deep space ices</div>
            </div>
        </div>
        <div class="mt-2 text-xs text-accent">Wellesley College · PI: Dr. Christopher Arumainayagam</div>
        <div class="mt-4 space-y-2 text-sm text-body2">
            <p>
                I spent most of my time as a chemistry major working in the astrochemistry lab under Dr. Christopher Arumainayagam.
                This research studied how cosmic radiation bombarding thin ices on deep-space dust granules causes streams of low-energy
                secondary electrons to interact with molecules of ammonia, water, and carbon dioxide. These secondary electrons caused
                these molecules to form radicals; radical-radical interactions have no activation energy, and thus, these molecular building blocks
                were capable of undergoing chemical reactions at incredibly low temperatures. We were looking for the formation of pre-cursors
                to amino acids - as much of the water on our planet is theorized to come from comets, which pick up water from these dust granules
                in dark dense molecular clouds, these precursors to amino acids could have greatly contributed to the origins of life on our planet.
            </p>
            <p>
                A large part of my job in the lab involved wrangling the ultrahigh vacuum chamber, a beast of a machine that allowed us
                to reach pressures below 10^-10 Torr and temperatures of 77 K, simulating dark, dense molecular clouds in deep space.
                Using a small, molybdenum(110) single crystal, we were able to form thin ices (10-1000 molecular layers), bombard the ice
                with low-energy electrons (10-1000 eV), and measure the resulting reactions with a quadrupole mass spectrometer.
            </p>
            <p>
                The ultrahigh vacuum chamber was older than I am, and needed extensive repairs throughout my time in the lab. One summer of
                research was spent diagnosing issues with our results. Each time we opened the chamber to try a solution, we needed to wait
                5 days to get down to adequately low pressures to test our solution. The final diagnosis came down to a
                loose copper wire which was shorting a thermocouple.
            </p>
            <p>
                As chemistry is no longer my career focus, and it's been many years since this research, I am fuzzy on many of the finer
                details of this research. However, my time in the lab taught me systematic troubleshooting, rigorous data collection, and data
                analysis. It also left me with a beautiful lens through which to observe the world around me.
            </p>
        </div>
    </div>
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>publications</div>
                <div class="sep"></div>
            </div>
        </div>
        <ul>
            <li>
                Strawhacker, A., <b class="text-body">Verish, C.</b>, Shaer, O., & Bers, M. (2020).
                <a href="https://d1wqtxts1xzle7.cloudfront.net/79283797/Strawhacker_IJCCI_CRISPEE-libre.pdf?1642796579=&response-content-disposition=inline%3B+filename%3DDesigning_with_Genes_in_Early_Childhood.pdf&Expires=1742851794&Signature=TD-V~5MSoTwpEBJhk-w-KvsJkkFc58sjCYdO85JbfAUmgl4pnltmygxdZNSEYwxuBAwU3ihbGbw-s-eHbWmhYmNFjNcUqxjsx4E1DbpDOEcf-ycaeGaj7QN15qq2P5VhHZjEYUY3tBPGMrmrt831l9oMg-t3elzfQao42DxXWSyOftV-0ywiRTndVJ3jsy9qSSlrGiUV-Qqe0OCc8QoftQPWyfPY2uHRiX32pzUue5ftUHI0gY2ZZyA0rr-GFmoAMv~2Ow6R7wjQDdmTp2~n4nyNGFai7ZmQuAfEt~vw7imGlqev7QIghyiILOVcxGXVXwqu4FOVJKVdLhg5No5MYA__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA"
                   rel="noreferrer">Designing with Genes in Early Childhood: An exploratory user study of the tangible CRISPEE technology. </a> <em>International Journal of Child-Computer Interaction</em>, 26, 100212.
            </li>
            <li>
                Strawhacker, A., <b class="text-body">Verish, C.</b>, Shaer, O., & Bers, M. (2020).
                <a href="https://d1wqtxts1xzle7.cloudfront.net/79283793/Strawhacker2020_Article_YoungChildrenSLearningOfBioeng-libre.pdf?1642796580=&response-content-disposition=inline%3B+filename%3DYoung_Children_s_Learning_of_Bioengineer.pdf&Expires=1742851870&Signature=KO9mmLsnXjstnHoAUKTClNe2NLV2TZJPrRubc1JrN~DYcL3Wnn0ssypnP~4psTBDrByxnSIMQMswbJvc6DvSwDhbx5KFQ4UvZ6SPWDvikS~qm91CSlLPrlIFgHrWfTEsvCNpkyshiig-kwSVmHelONGv5Wp4b6MztYtYNhvaPzmRBtax2HoddQy33R6bAO61k6qcacHGdqSv70iwekSRXrFxmgk6eEEAMjOaWNespCBtu3hmNST68NwkJOvn-8L5QZ69f23igLGkU1Z0y4A49SC9ZYFTzmujknL~yKY8~eNIpcZYrRHOyNpzgRwR3MUt69vhnQaBVn4Fla5o47s9OA__&Key-Pair-Id=APKAJLOHF5GGSLRBV4ZA"
                   rel="noreferrer">Young Children's Learning of Bioengineering with CRISPEE: a Developmentally Appropriate Tangible User Interface.</a> <em>Journal of Science Education and Technology</em>, 1-21.
            </li>
            <li>
                <b class="text-body">Verish, C.</b>, Strawhacker, A., Bers, M., & Shaer, O. (2020). <em class="not-italic font-normal text-accent">CRISPEE: An Interactive Museum Exhibit for Engaging Children with Biological Engineering.</em> In <em>Proceedings of the 2020 Connected Learning Summit</em> (Conference cancelled).
            </li>
            <li>
                Davidson, A.-L., Naffi, N., Duponsel, N., Jawhar, H., Ruby, I., Gholami, F., Zefi, A., <b class="text-body">Verish, C.</b>, Krsman- ovich, B., Kamel, A. (2020). <em class="not-italic font-normal text-accent">Pushing the boundaries of maker fundamentals to unleash innovation in higher education.</em> <em>SALTISE 2020</em>. June 8-9, Montréal, Québec. (Conference cancelled).
            </li>
            <li>
                <b class="text-body">Verish, C.</b>, Strawhacker, A., Westendorf, L., Pollalis, C., Sullivan, A., Loparev, A., ... & Shaer, O. (2019).
                <a href="https://repository.isls.org/bitstream/1/4480/1/652-655.pdf"
                   rel="noreferrer">BacToMars: A Collaborative Video Game for BioDesign.</a> In <em>Proceedings of the 13th International Conference on Computer Supported Collaborative Learning</em> (pp. 652-655).
            </li>
            <li>
                Muender, T., Gulani, S. A., Westendorf, L., <b class="text-body">Verish, C.</b>, Malaka, R., Shaer, O., & Cooper, S. (2019).
                <a href="https://jcom.sissa.it/article/pubid/JCOM_1801_2019_A05/"
                   rel="noreferrer">Comparison of mouse and multi-touch for protein structure manipulation in a citizen science game interface.</a> <em>Journal of Science Communication</em>, 18(1), A05.
            </li>
            <li>
                Westendorf, L., Shaer, O., Pollalis, C., <b class="text-body">Verish, C.</b>, Nov, O., & Ball, M. P. (2018).
                <a href="https://www.jmir.org/2018/9/e10297/" rel="noreferrer">Exploring genetic data across individuals: design and evaluation of a novel comparative report tool.</a> <em>Journal of Medical Internet Research</em>, 20(9), e10297.
            </li>
            <li>
                <b class="text-body">Verish, C.</b>, Strawhacker, A., Bers, M., & Shaer, O. (2018, March).
                <a href="https://dl.acm.org/doi/pdf/10.1145/3173225.3173277"
                   rel="noreferrer">CRISPEE: a tangible gene editing platform for early childhood.</a> In <em>Proceedings of the Twelfth International Conference on Tangible, Embedded, and Embodied Interaction</em> (pp. 101-107).
            </li>
            <li>
                Strawhacker, A., Bers, M., <b class="text-body">Verish, C.</b>, Sullivan, A., & Shaer, O. (2018).
                <a href="https://sites.bc.edu/devtech/wp-content/uploads/sites/181/2023/10/JITEv17IIPp055-081Strawhacker4195.pdf"
                   rel="noreferrer">Enhancing children's interest and knowledge in bioengineering through an interactive videogame. </a><em>Journal of Information Technology Education: Innovations in Practice</em>, 17(1), 55-81.
            </li>
            <li>
                Loparev, A., Sullivan, A., <b class="text-body">Verish, C.</b>, Westendorf, L., Davis, J., Flemings, M., ... & Shaer, O. (2017, August).
                <a href="https://dl.acm.org/doi/pdf/10.1145/3102071.3106353"
                   rel="noreferrer">BacToMars: a collaborative educational video game for teaching biological engineering. </a>In <em>Proceedings of the 12th International Conference on the Foundations of Digital Games</em> (pp. 1-3).
            </li>
            <li>
                Loparev, A., Sullivan, A., <b class="text-body">Verish, C.</b>, Westendorf, L., Davis, J., Flemings, M., ... & Shaer, O. (2017, June).
                <a href="https://cs.wellesley.edu/~hcilab/publication/bacpack_idc17.pdf"
                   rel="noreferrer">BacToMars: Creative engagement with bio-design for children.</a> In <em>Proceedings of the 2017 Conference on Interaction Design and Children</em> (pp. 623-628).
            </li>
            <li>
                Westendorf, L., Pollalis, C., <b class="text-body">Verish, C.</b>, Shaer, O., Metaxas, P. T., Finn, S. T., ... & Nov, O. (2017).
                <a href="https://core.ac.uk/download/pdf/217025086.pdf" rel="noreferrer">From Personal Genomics to Twitter: Visualizing the Uncertainty of Evidence.</a> In <em>Designing for Uncertainty in HCI: When Does Uncertainty Help? Workshop, CHI 2017 Computer-Human Interaction</em>.
            </li>
            <li>
                Boyer, M. C., Rivas, N., Tran, A. A., <b class="text-body">Verish, C.</b> A., & Arumainayagam, C. R. (2016).
                <a href="https://core.ac.uk/download/pdf/217025086.pdf" rel="noreferrer">The role of low-energy (≤ 20 eV) electrons in astrochemistry.</a> <em>Surface Science</em>, 652, 26-32.
            </li>
            <li>
                <b class="text-body">Verish, C.</b> A., Regovich, K. R., Abdullahi, S. M., & Arumainayagam, C. (2014, March). <em class="not-italic font-normal text-accent">Heavenly chemistry: Water radiolysis.</em> In <em>Abstracts of Papers of the American Chemical Society</em>(Vol. 247).
            </li>
        </ul>
    </div>
    <div class="mt-12">
        <div class="two-col">
            <div>
                <div>conferences</div>
                <div class="sep"></div>
            </div>
        </div>
        <ul>
            <li>
                <em class="not-italic font-medium text-body">Presentation:</em> "BacToMars: A Collaborative Video Game for BioDesign", July 2019, <em>Proceedings of Computer Supported Collaborative Learning (CSCL '19)</em>, Lyon, France.
            </li>
            <li>
                <em class="not-italic font-medium text-body">Presentation:</em> "CRISPEE: A Tangible Gene Editing Platform for Early Childhood." August 2018, <em>Milieux Institute</em>, Montreal, QC, Canada.
            </li>
            <li>
                <em class="not-italic font-medium text-body">Demo Session:</em> "CRISPEE: a Tangible Gene Editing Platform for Early Childhood." <em>Proceedings of the Twelfth International Conference of Tangible, Embedded, and Embodied Interaction</em>, March 2018, Stockholm, Sweden.
            </li>
            <li>
                <em class="not-italic font-medium text-body">Poster Session:</em> "BacToMars: a Collaborative Educational Video Game for Teaching Biological Engineering." <em>Proceedings of the 12th International Conference on the Foundations of Digital Games</em>, August 2017, Cape Cod, MA.
            </li>
            <li>
                <em class="not-italic font-medium text-body">Poster Session:</em> "BacToMars: Creative Engagement With Bio-Design for Children." <em>Proceedings of the 2017 Conference on Interaction Design and Children</em>, June 2017, Stanford, CA.
            </li>
            <li>
                <em class="not-italic font-medium text-body">Poster Session:</em> "Heavenly Chemistry: Water Radiolysis." <em>Conference of the American Chemical Society</em>, March 2014, Houston, TX.
            </li>
        </ul>
    </div>
{% endblock detail_content %}
